<mat-card class="project-card">
  <mat-card-header>
    <div class="header-image mr-2 ml-2 mt-2" mat-card-avatar>
      <a [routerLink]="['/users/' + projectItem.author.id]">
        <img [alt]="'Аватарка ' + projectItem.author.fullName" [src]="projectItem.author.avatar" mat-card-image>
      </a>
    </div>
    <mat-card-title><a [routerLink]="'/projects/' + projectItem.id">{{projectItem.name}}</a><span
      class="badge badge-info ml-2">${{projectItem.currentBack}}
      of ${{projectItem.overallBack}}</span>
      <button *ngIf="authService.isCurrentUserAdmin()" [matMenuTriggerFor]="menu"
              aria-label="Example icon-button with a menu" mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>delete</mat-icon>
          <span>Удалить</span>
        </button>
        <button mat-menu-item>
          <mat-icon>edit</mat-icon>
          <span>Изменить</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Отключить уведомления</span>
        </button>
      </mat-menu>
    </mat-card-title>
    <mat-card-subtitle class="mb-3">
      <a
        [routerLink]="['/users/' + projectItem.author.id]">{{projectItem.author.fullName}}
      </a>
    </mat-card-subtitle>
    <mat-card-subtitle class="mb-0">Создан: {{projectItem.createdAt | date}}</mat-card-subtitle>
    <mat-card-subtitle class="mt-0">Дата окончания: {{projectItem.deadline | date}}</mat-card-subtitle>
  </mat-card-header>
  <img [src]="projectItem.imageUrls[0]" alt="Project image" class="card-img" mat-card-image>
  <mat-card-content>
    <div class="crowdy_font_style">{{projectItem.description}}</div>
  </mat-card-content>
  <mat-card-actions>
    <ng-template #likesTooltip>
      <app-users-tooltip [message]="' пользователей оценили'" [users]="projectItem.likes"></app-users-tooltip>
    </ng-template>
    <button [closeDelay]="1000" [ngbPopover]="likesTooltip" [openDelay]="400" aria-label="Like project" color="warn"
            mat-icon-button triggers="mouseenter:mouseleave">
      <mat-icon>favorite</mat-icon>
    </button>
    <span class="ml-1" style="color: red">{{projectItem.likes.length}}</span>
    <button mat-button>Поддержать</button>
    <button class="float-right mr-3" color="primary" mat-icon-button matTooltip="Поделиться в соц. сетях">
      <mat-icon>share</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
