<div class="row py-5 px-4">
  <div class="col-md-5 mx-auto">
    <div class="bg-white shadow rounded overflow-hidden">
      <div class="px-4 pt-0 pb-4 cover">
        <div class="media align-items-end profile-head">
          <div class="profile mr-3"><img [src]="userProfile.avatar" alt="" class="rounded mb-2 img-thumbnail"
                                         width="130"><a
            *ngIf="userProfile.id === authService.getCurrentUser().id" class="btn btn-outline-dark btn-sm btn-block"
            href="#">Изменить
            профиль</a></div>
          <div class="media-body mb-5 text-white">
            <h4 class="mt-0 mb-0">{{userProfile.fullName}}</h4>
            <p class="small mb-4"><i class="fas fa-map-marker-alt mr-2"></i>{{userProfile.username}}</p>
          </div>
        </div>
      </div>
      <div class="bg-light p-4 d-flex justify-content-end text-center">
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <span class="text-muted mr-2"> <i class="fas fa-image"></i>Проекты</span>
            <button aria-label="Projects"
                    class="font-weight-bold mb-0 mr-4" mat-stroked-button>
              {{userProfile.projects.length}}
            </button>
          </li>
          <li class="list-inline-item">
            <span class="text-muted mr-2"> <i class="fas fa-user"></i>Подписчики</span>
            <ng-template #followersTooltip>
              <app-users-tooltip [message]="' подписки'" [users]="userProfile.followers"></app-users-tooltip>
            </ng-template>
            <button [closeDelay]="1000" [ngbPopover]="followersTooltip" [openDelay]="400" aria-label="Followers"
                    class="font-weight-bold mb-0" mat-stroked-button triggers="mouseenter:mouseleave">
              {{userProfile.followers.length}}
            </button>
          </li>
          <li class="list-inline-item">
            <span class="text-muted mr-2"><i class="fas fa-user mr-4"></i>Подписки</span>
            <ng-template #followingTooltip>
              <app-users-tooltip [message]="' подписаны на Вас'" [users]="userProfile.following"></app-users-tooltip>
            </ng-template>
            <button [closeDelay]="1000" [ngbPopover]="followingTooltip" [openDelay]="400" aria-label="Following"
                    class="font-weight-bold mb-0 mr-4" mat-stroked-button triggers="mouseenter:mouseleave">
              {{userProfile.following.length}}
            </button>
          </li>
        </ul>
      </div>
      <div class="px-4 py-3">
        <h3 class="mb-0">Обо мне</h3>
        <div class="p-4 rounded shadow-sm bg-light">
          <p class="font-italic mb-0">Web Developer</p>
          <p class="font-italic mb-0">Lives in New York</p>
          <p class="font-italic mb-0">Photographer</p>
        </div>
      </div>
      <div class="py-4 px-4">
        <div class="d-flex align-items-center justify-content-between mb-3">
          <h3 class="mb-0">Недавние проекты</h3><a class="btn btn-link text-muted" href="#">Показать все</a>
        </div>
        <div>
          <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile *ngFor='let project of userProfile.projects' matTooltip="{{project.name}}">
              <a [routerLink]="['/projects/' + project.id]">
                <img [src]="project.imageUrls[0]" alt=""
                     class="img-fluid rounded shadow-sm">
              </a>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </div>
    </div>
  </div>
</div>
