.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  margin-bottom: 50px;
}

/*.swiper-slide img {*/
/*  display: block;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  object-fit: cover;*/
/*}*/

.swiper-scrollbar-drag {
  background-color: #3f51b5;
}

.mySwiper {
  padding: 0 1px;
}

.custom-border {
  border-bottom: 0.1rem solid #dee2e6 !important;
}

.link-to-category {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.main-blue-color {
  color: #3f51b5;
}
