<mat-card>
  <mat-card-content>
    <form (ngSubmit)="onSubmit($event)" [formGroup]="form">
      <h2>Вход</h2>
      <mat-error *ngIf="authErrorMessage">
        {{authErrorMessage}}
      </mat-error>
      <mat-form-field class="full-width-input">
        <input formControlName="username" matInput placeholder="Имя пользователя" required>
        <mat-error>
          Введите корректное имя пользователя
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input formControlName="password" matInput placeholder="Password" required type="password">
        <mat-error>
          Введите корректный пароль
        </mat-error>
      </mat-form-field>
      <button color="primary" mat-raised-button name="login">Войти</button>
      <button class="ml-3" color="primary" mat-raised-button name="register">Регистрация</button>
    </form>
  </mat-card-content>
</mat-card>
