<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
  <div class="be-comment-block">
    <h1 class="comments-title">Comments {{comments.length}}</h1>
    <app-comment-item *ngFor="let comment of comments; trackBy: trackItem" [comment]="comment"></app-comment-item>
  </div>
  <form (ngSubmit)="onCommentSend()" [formGroup]="sendCommentForm">
    <mat-form-field class="full-width-input">
      <input formControlName="comment" matInput placeholder="Comment" required>
      <mat-error>
        Please provide a valid comment
      </mat-error>
    </mat-form-field>
    <button color="primary" mat-raised-button name="comment">Send</button>
  </form>
</div>
