<div class="be-comment">
  <div class="be-img-comment">
    <a [routerLink]="['/users/' + comment.author.id]">
      <img [src]="comment.author.avatar" alt="Avatar of {{comment.author.fullName}}" class="be-ava-comment">
    </a>
  </div>
  <form [formGroup]="commentEditForm" (ngSubmit)="onCommentEditSubmit()"
        [ngClass]="{'was-validated': commentEditForm.invalid && submitPerformed}"
        class="needs-validation" novalidate="">
    <div class="be-comment-content">
				<span class="be-comment-name">
					<a [routerLink]="['/users/' + comment.author.id]">{{comment.author.username}}</a>
					</span>
      <span class="be-comment-time">
					<i class="fa fa-clock-o"></i>
        {{comment.createdAt | date:'short'}}
        <button *ngIf="authService.isCurrentUserAdmin()" type="button" [matMenuTriggerFor]="menu"
                mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>delete</mat-icon>
        <span>Удалить</span>
      </button>
      <button *ngIf="commentEditing" (click)="onCommentEditSubmit()" type="submit" mat-menu-item>
        <mat-icon>edit</mat-icon>
        <span>Сохранить изменение</span>
      </button>
      <button *ngIf="!commentEditing" (click)="onEdit()" type="button" mat-menu-item>
        <mat-icon>edit</mat-icon>
        <span>Изменить</span>
      </button>
    </mat-menu>
				</span>
      <input *ngIf="commentEditing" formControlName="comment" placeholder="Введите новый комментарий..."
             class="be-comment-text w-100" type="text" required="">
      <div *ngIf="commentEditForm.controls['comment'].invalid" class="invalid-feedback" style="width: 100%;">Комментарий
        не должен быть пустым
      </div>
      <p *ngIf="!commentEditing" class="be-comment-text">
        {{comment.message}}
      </p>
    </div>
  </form>
</div>
