<div class="be-comment">
  <div class="be-img-comment">
    <a href="#todoauhorprofile">
      <img [src]="comment.author.avatar" alt="Avatar of {{comment.author.fullName}}" class="be-ava-comment">
    </a>
  </div>
  <div class="be-comment-content">
				<span class="be-comment-name">
					<a href="#todoauhorprofile">{{comment.author.username}}</a>
					</span>
    <span class="be-comment-time">
					<i class="fa fa-clock-o"></i>
      {{comment.createdAt | date:'short'}}
				</span>
    <p class="be-comment-text">
      {{comment.message}}
    </p>
  </div>
</div>
