/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
}

*, *:focus, *:hover {
  outline: none;
}

* {
  font-family: 'Quattrocento Sans', sans-serif !important;
  /*font-family: 'KoHo', sans-serif !important;*/
}

.cursor-pointer:hover {
  cursor: pointer;
}
