<mat-card>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <h2>Register</h2>
      <mat-error *ngIf="registerErrorMessage">
        {{registerErrorMessage}}
      </mat-error>
      <mat-form-field class="full-width-input">
        <input formControlName="username" matInput placeholder="Username" required>
        <mat-error>
          Пожалуйста, введите корректное имя пользователя
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input formControlName="password" matInput placeholder="Password" required type="password">
        <mat-error>
          Пожалуйста, введите корректный пароль
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input formControlName="fullName" matInput placeholder="Full Name" required>
        <mat-error>
          Пожалуйста, введите полное имя
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input formControlName="birthday" matInput placeholder="Birthday" required type="date">
        <mat-error>
          Пожалуйста, введите дату рождения
        </mat-error>
      </mat-form-field>
      <div class="form-group">
        <label for="file">Фото</label>
        <input
          (change)="onFileChange($event)"
          class="form-control"
          formControlName="file"
          id="file"
          type="file">
        <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
          <div *ngIf="f.file.errors.required">Требуется фото</div>
        </div>
      </div>
      <img *ngIf="imageSrc" [src]="imageSrc" style="height: 80%; width:80%">
      <button class="ml-3 mt-3" color="primary" mat-raised-button name="register">Зарегистрироваться</button>
    </form>
  </mat-card-content>
</mat-card>
