
.author-card {
  display: inline-block;
}

.header-image {
  background-size: cover;
}

.mat-tab-group {
  margin-bottom: 48px;
}

.back-status {
  font-size: 14px;
}

.like-display {
  transform: scale(1.5);
}

.like-counter-display {
  font-size: 20px;
}

.project-card {
  width: min-content;
  margin: 20px;
  display: inline-block;
}

.header-image {
  background-size: cover;
}

.card-img {
  width: 1280px; /* width of container */
  height: 720px; /* height of container */
  object-fit: cover;
}

.spacer {
  flex: 1 1 auto;
}
